

{{!-- item list --}}
<div class="row mt-3">
  {{!-- Data --}}
  <div class="col-9 mx-auto">
    <ul class="list-group fw-bold">
    {{#each records}}
      <li class="row">
        {{!-- Rank --}}
        {{!-- playerName --}}
        {{!-- score --}}
        {{!-- gameTimes --}}

        <div class="col-8 list-group-item list-group-item-light">
          <div class="row">
            <i class="fa-solid {{ this.category }} col-2 align-self-center text-end" style="font-size: 55px; color: lightblue"></i>
            <div class="col-7 align-self-center">
              <h3 class="fw-bold">{{ this.name }}</h3>
              <h5 class="fw-bold">{{ this.date }}</h5>
            </div>
            <div class="col-3 text-end align-self-center fs-2">{{ this.amount }}</div>
          </div>
        </div>
        <div class="col-4 text-center align-self-center">
          <form action="/records/{{ this._id }}/delete?_method=DELETE" method="POST">
            <a href="/records/{{ this._id }}/edit" class="btn btn-link text-decoration-none text-reset fs-3 fw-bold">修改</a>
            <button type="submit" class="btn btn-link text-decoration-none text-reset fs-3 fw-bold" style="display: inline;">刪除</button>
          </form>
        </div>
      </li>
    {{/each}}
    </ul>
  </div>
</div>
{{!-- search amount --}}
<div class="row mt-3">
  <div class="col-6 mx-auto">
    <div class="row fw-bold">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Player name" aria-label="Player name" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">Search Player</span>
      </div>
    </div> 
  </div>
</div>

{{!-- create item --}}
{{!-- 等到做完會員認證之後再回來顯示 --}}
{{!-- <div class="row mt-5">
  <a href="/records/new" type="button" class="btn btn-warning col-4 mx-auto fs-3 fw-bold">新增支出</a>
</div> --}}