<div class="container">
  <div class="row mt-4">
    <div class="col-3"></div>
    {{!-- Data 表 --}}
      <div class="col-9">
        <div class="row mt-2 mx-auto">
          {{!-- 排頭 --}}
          <ul class="list-group fw-bold">
            <li class="row">
              <div class="col-8 list-group-item list-group-item-dark">
                <div class="row">
                  <div class="col-3">Player Name</div>
                  <div class="col-2 text-end">Score</div>
                  <div class="col-5 text-center">Date</div>
                  <div class="col-2 text-center">Times</div>
                </div>
              </div>
            </li>
          </ul>
          {{!-- 內容 --}}
          <ul class="list-group fw-bold">
            {{#each Data}}
                <li class="row">
                  <div class="col-8 list-group-item list-group-item-light">
                    <div class="row">
                      {{!-- player name --}}
                      <div class="col-3">{{ this.playerName }}</div>
                      {{!-- score --}}
                      <div class="col-2 text-end">{{ this.score }}</div>
                      {{!-- date --}}
                      <div class="col-5 text-center">{{ this.date }}</div>
                      {{!-- game times --}}
                      <div class="col-2 text-center">{{ this.gameTimes }}</div>
                    </div>
                  </div>
                </li>
            {{/each}}
          </ul>
          {{!-- 排尾 Total --}}
          <ul class="list-group fw-bold">
            <li class="row">
              <div class="col-8 list-group-item list-group-item-dark">
                <div class="row">
                  <div class="col-3">Total</div>
                  <div class="col-2 text-end">{{totalScore}}</div>
                  <div class="col-5 text-center">---</div>
                  <div class="col-2 text-center">{{totalGameTimes}}</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
